<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Explicamisto</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="styles1.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  </head>
  <body style="height: 100vh;">
    <nav class="navbar navbar-expand-lg bg-body-tertiary border border-2" style="background-color: #F4F6F8;">
      <div class="container w-75 justify-content-center">
        <a id="this-is-a-test" class="navbar-brand" href="#">explicamisto</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Início</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Sobre nós</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Perguntas Frequentes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contactos</a>
            </li>
          </ul>
          <button id="navbar-button" type="button" class="btn btn-warning">
            <span class="navbar-text">
              Entrar na plataforma
            </span>
          </button>

        </div>
      </div>
    </nav>
    <div class="container d-flex justify-content-center h-25 w-75 pt-5">
      <div id="alunos-precisam" class="row h-100 w-100 border border-info ">
      </div>
    </div>
    <div class="container justify-content-center h-25 w-75">
      <div class="row justify-content-center pt-3">
        
        <div class="col justify-content-center" id="left-column">
          <p class="fw-bolder fs-5 text-center text-info">EU SEI E QUERO ENSINAR, TU NÃO SABES E QUERES APRENDER</p>
          <p class="text-center fs-6">-- Lema do explicamisto</p>
          <p class="text-center fs-6">O ExplicaMisto é uma associação responsável por fornecer apoio escolar a estudantes do ensino secundário regular público atingidos por dificuldades financeiras, que os incapacitam de ter outra forma de suporte. Tendo em conta a crise no setor da educação com que hoje nos vemos afetados, procuramos estudantes do ensino superior, com interesse e motivação em ajudar estes estudantes do ensino secundário a perseguirem os seus sonhos, assegurando que têm as bases para sustentarem o futuro que merecem.</p></div>
        <div class="col" id="right-column">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/vKhClFu9ZZM?si=z2kY27t69KeP-5vw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </body>
</html>
